:root {
  --black: #151515;
  --white: #fff;
  --gray-1: #f0f0f0;
  --gray-2: #e1e1e1;
  --gray-3: #9f9f9f;

  --clr-primary-100: var(--white);
  --clr-primary-200: var(--gray-1);
  --clr-primary-300: var(--gray-2);
  --clr-primary-400: var(--gray-3);
  --clr-primary-900: var(--black);
}
