.link {
    display: block;
    padding-block: var(--size-2);
    padding-inline: var(--size-3);
    min-inline-size: var(--size-10);
    color: var(--clr-primary-900);
    text-decoration: none;
}

.link:hover,
.link:focus {
    text-decoration: underline;
}